.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty{
    border-color:#FA787E;
}
.ng-valid.ng-dirty{
    border-color:#78FA89;
}

.sbutton {
	color: red;
}

ul.row.nav.nav-bar.navbar-right {
	width: 70%;
	margin: 0;
}

/*section.homeSection {
	width: 100%;
}*/
img.bgImage {
	width: 100%;
	height: 100%;

}

.navbar-inverse {
	border: none;
	background-image: none;
}

.sign {
	margin-top: 50px;
}

.btn-primary {
	background-image: none;
	background-color: #222;
}