<section data-ng-controller="ProductsController" data-ng-init="findOne()">
	<div class='overlay' ng-show='displayOverlay'>
		<a class="btn btn-primary close" data-ng-click="hideReview();">
				<i class="glyphicon glyphicon-remove"></i>
		</a>
				<div data-ng-repeat='comment in comments'  class='watchComment list-group-item'>
					<small class='list-group-item-text'>
						Posted on
						<span data-ng-bind="comment.posted | date:'mediumDate'"></span>
						by
						<span data-ng-bind="comment.user"></span>
					</small>
					<h4 class='list-group-item-heading' data-ng-bind='comment[0].comment'></h4>
				</div>
	</div>
	<div class="page-header">
		<h1 data-ng-bind="product.title"></h1>
	</div>
	<div class="pull-right">
		<span data-ng-show="authentication.user._id == product.user._id">
			<a class="btn btn-primary" href="/#!/products/{{product._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</span>
		<a class="btn btn-primary" href='/#!/products/{{product._id}}/create'>
			<i class="glyphicon glyphicon-plus"></i>
		</a>
	</div>
	<br>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="product.added | date:'mediumDate'"></span>
			by
			<span data-ng-bind="product.user.displayName"></span>
			Category
			<span data-ng-bind="product.category"></span>
		</em>
	</small>

<!-- 	<div class='thumbnails'>
			<div data-ng-repeat='review in product.reviews' ng-click="reviewClick()">
					<video controls class="span4"> 
					  <source type="video/webm" ng-src="{{scePermit(review.content)}}"> 
					  <source type="video/mp4" ng-src="{{scePermit(review.content)}}"> 
					</video>
			</div>
	</div> -->
<!-- 		<div class='row-fluid'>
			<div data-ng-repeat='review in product.reviews' ng-click="reviewClick()" class=''>
				<div id="portfolio" class="row-fluid">
					<div class="span3">
						<video controls> 
						  <source type="video/webm" ng-src="{{scePermit(review.content)}}"> 
						  <source type="video/mp4" ng-src="{{scePermit(review.content)}}"> 
						</video>
					</div>
				</div>
			</div>
		</div> -->

		<ul class='container'>
			<li data-ng-repeat='review in product.reviews'>

				<video controls> 
				  <source type="video/webm" ng-src="{{scePermit(review.content)}}"><source> 
				  <source type="video/mp4" ng-src="{{scePermit(review.content)}}"></source>
				</video>
				<a data-ng-click="removeReview(review)">
					<span data-ng-show="authentication.user._id == product.user._id" class="glyphicon glyphicon-remove reviewActions"></span>
				</a>
				<a ng-click="reviewClicked(review)">
					<span class="glyphicon glyphicon-comment reviewActions"></span>
				</a>
				
			</li>
		</ul>
	<p class="lead" data-ng-bind="reviews.content"></p>
</section>